export(rsf.fit, rsf, rspf, hoslem.test, CAIC, CAICtable,
  kdepairs, makeUsedAvail, simulateUsedAvail, mep, rsf.null,
  wrsi, sindex)

importFrom(stats, BIC,
  logLik, model.matrix, model.frame,
  update.formula, update, vcov, confint,
  fitted, density, dnorm, family, runif, splinefun,
  .MFclass, .getXlevels, AIC, aggregate,
  binomial, coef, cor, cov, delete.response,
  glm.fit, lowess, make.link, model.matrix.default,
  model.response, optim, pchisq, pnorm,
  printCoefmat, qnorm, quantile, sd, terms, xtabs,
  get_all_vars)
importFrom(Matrix, nearPD)
importFrom(grDevices, dev.interactive, devAskNewPage,
  terrain.colors, rgb)
importFrom(graphics, axis, box, hist, image, lines,
  pairs.default, par, plot, points, rect, text)

S3method(family, rsf)
S3method(print, rsf)
S3method(summary, rsf)
S3method(print, summary.rsf)
S3method(confint, rsf)
S3method(fitted, rsf)
S3method(residuals, rsf)
S3method(logLik, rsf)
S3method(model.frame, rsf)
S3method(model.matrix, rsf)
S3method(plot, rsf)
S3method(mep, default)
S3method(predict, rsf)
S3method(vcov, rsf)
S3method(kdepairs, default)
S3method(kdepairs, rsf)
S3method(makeUsedAvail, default)
S3method(makeUsedAvail, formula)
S3method(CAIC, default)
